.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.lineup {
    background: url("../images/pitch.png") no-repeat scroll 0 0 transparent;
    width:640px;
    height:400px;
    position:relative;
}
.lineup_player {
    color:white;
    font-size:12pt;
    position:absolute;
    width:80px;
    text-align:center;
}
.lineup_player a {
    color:white;
    font-size:12pt;
}
.player_icon {
    background: url("../images/playerdot.png") no-repeat scroll 0 0 transparent;
    width:80px;
    height:32px;
    text-align:center;
    background-position:center;
}