<h1>{{g.homeTeam.name}} - {{g.awayTeam.name}} {{g.homeGoals}}-{{g.awayGoals}}, {{g.dateOfGame}}</h1>
<tabset>
    <tab heading="Matchinformation">
        <table class="table table-striped">


            <tbody>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Motståndare:</div>
                <div class="col-md-10">{{g.homeTeam.name == 'IFK Göteborg' ? g.awayTeam.name : g.homeTeam.name}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Resultat:</div>
                <div class="col-md-10">{{g.homeGoals}}-{{g.awayGoals}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Halvtidsresultat:</div>
                <div class="col-md-10">{{g.homeGoalsHalftime}}-{{g.awayGoalsHalftime}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Matchtyp:</div>
                <div class="col-md-10">{{g.tournamentSeason.tournament.name}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Säsong:</div>
                <div class="col-md-10">{{g.tournamentSeason.start}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Hemma/Borta:</div>
                <div class="col-md-10">{{g.homeTeam.name == 'IFK Göteborg' ? 'Hemmamatch' : 'Bortamatch'}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Datum:</div>
                <div class="col-md-10">{{g.dateOfGame}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Arena:</div>
                <div class="col-md-10">{{g.ground.name}} {{g.ground.city != null ? ', '+g.ground.city : ''}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Publiksiffra:</div>
                <div class="col-md-10">{{g.attendance}}</div>
            </div>
            <div class="row-fluid">
                <div class="col-md-2 text-info">Domare</div>
                <div class="col-md-10">{{g.referee != null ? g.referee.name : 'I.u.'}}</div>
            </div>
            </tbody>
        </table>
    </tab>
    <tab heading="Laguppställning">
        <div style="width:640px;" id="gamelineup" class="lineup">
            <div ng-repeat="pos in participants">
                <div style="{{pos.positionalCss}}" class="lineup_player">
                    <div class="player_icon"></div><div><a href="#/players/{{pos.playerId}}">{{pos.name}}</a></div>
                </div>
            </div>

        </div>
    </tab>
    <tab heading="Händelser">
        <table ng-table="gameEventsTable" class="table table-striped">
            <tbody ng-repeat="group in $groups">
            <tr class="ng-table-group">
                <td colspan="{{$columns.length}}">
                    <a href="" ng-click="group.$hideRows = !group.$hideRows">
                        <span class="glyphicon" ng-class="{ 'glyphicon-chevron-right': group.$hideRows, 'glyphicon-chevron-down': !group.$hideRows }"></span>
                        <strong>{{ group.value }}</strong>
                    </a>
                </td>
            </tr>
            <tr ng-hide="group.$hideRows" ng-repeat="e in group.data">
               <!-- <td data-title="'Händelse'" class="left" sortable="eventType">{{e.eventName}}</td> -->
                <td data-title="'Spelare'" class="left" sortable="player.name"><a href="/#/players/{{e.playerId}}">{{e.playerName}}</a></td>
                <td data-title="'Matchminut'" class="left" sortable="gameMinute">{{e.gameMinute}}</td>
            </tr>
            </tbody>
        </table>
    </tab>
    <tab heading="Noteringar">
         <div ng-repeat="n in notes" class="span3">{{note}}</div>
    </tab>
</tabset>