<h2 ng-show="playerName">{{playerName}}, matcher</h2>


<table ng-table="gamesList" template-pagination="custom/pager" class="table table-striped">

        <tr ng-repeat="g in $data">
            <td data-title="'Datum'" sortable="dateOfGame"><a href="/#/games/{{g.id}}">{{g.dateOfGame}}</a></td>
            <td data-title="'Hemmalag'" sortable="homeTeam.name">{{g.homeTeam.name}}</td>
            <td data-title="'Bortalag'" sortable="awayTeam.name">{{g.awayTeam.name}}</td>
            <td data-title="'Resultat'">{{g.homeGoals}}-{{g.awayGoals}} ({{g.homeGoalsHalftime}}-{{g.awayGoalsHalftime}})
            </td>
            <td data-title="'Turnering'" sortable="tournamentSeason.tournament.name">
                {{g.tournamentSeason.tournament.name}}
            </td>
            <td data-title="'Formation'" sortable="formation.name">{{g.formation.name}}</td>
        </tr>

</table>