<h1>{{playerName}}</h1>
        <hr/>
<tabset id="tabset">
    <tab heading="Spelardata">
		<table class="table table-striped"> 
				<thead><tr><th colspan="2"> {{p.name}}</th></tr></thead>
				<tbody>
					<tr><td>Namn</td><td>{{p.name}}</td></tr> 
					<tr><td>Född</td><td>{{p.dateOfBirth}}</td></tr>
					<tr><td>Moderklubb</td><td>{{p.motherClub}}</td></tr>
					<tr><td>Övriga klubbar</td><td>{{p.playedForClubs}}</td></tr>
					<tr><td>Längd</td><td>{{p.length}}</td></tr>
					<tr><td>Vikt</td><td>{{p.weight}}</td></tr>
					<tr><td>Nationalitet</td><td>{{p.nationality}}</td></tr>
					<tr><td>Position</td><td>{{p.positionType}}</td></tr>
					<tr><td>Biografi</td><td>{{p.biography}}</td></tr>
				</tbody>
		</table>
	</tab>

	<tab heading="Statistik" ng-click="history('stats');">
		<table ng-table="tableParams" template-pagination="custom/pager" class="table table-striped">
				<tr ng-repeat="i in $data">
					<td data-title="'Turnering'" header-class="text-left" class="text-left" filter="{ 'tournamentName': 'text' }" sortable="tournamentName">{{i.tournamentName}}</td>
                    <td data-title="'Matcher'" sortable="totalGames"><a href="/#/players/{{playerId}}/tournaments/{{i.tournamentId}}/games">{{i.totalGames}}</a></td>
					<td data-title="'Mål'" sortable="goals">{{i.goals}}</td>
					<td data-title="'Inbytt'" header-class="text-left">{{i.gamesAsSubstituteIn}}</td>
					<td data-title="'Utbytt'" header-class="text-left">{{i.gamesAsSubstituteOut}}</td>
					<td data-title="'Mål som inhoppare'" header-class="text-left">{{i.goalsAsSubstituteIn}}</td>
					<td data-title="'Mål, sedan utbytt'" header-class="text-left">{{i.goalsAsSubstituteOut}}</td>
				</tr>
		</table>
	</tab>

	<tab heading="Positioner">
		<table ng-table="positionsParams" template-pagination="custom/pager" class="table table-striped">
			<tbody>
				<tr ng-repeat="i in $data">
					<td data-title="'Position'" sortable="positionName">{{i.positionName}}</td>
					<td data-title="'Formation'" sortable="formationName">{{i.formationName}}</td>
					<td data-title="'Matcher'" sortable="games">{{i.games}}</td>
					<td data-title="'Mål'" sortable="goals">{{i.goals}}</td>
				</tr>
			</tbody>
		</table>
	</tab>

	<tab heading="Resultat">
		<table ng-table="resultsParams" template-pagination="custom/pager" class="table table-striped">
			<tbody>
				<tr ng-repeat="i in $data">
					<td data-title="'Deltagande'" sortable="participationType">{{i.participationType}}</td>
					<td data-title="'Matcher'" sortable="games">{{i.games}}</td>
					<td data-title="'Vinster'" sortable="wins">{{i.wins}}</td>
					<td data-title="'Oavgjorda'" sortable="draws"> {{i.draws}}</td>
					<td data-title="'Förluster'" sortable="losses">{{i.losses}}</td>
					<td data-title="'Snittpoäng'" sortable="averagePoints">{{i.averagePoints}}</td>
				</tr>
			</tbody>
		</table>
	</tab>
	

	<tab heading="Utökade resultat">
		<table ng-table="extendedResultsParams" template-pagination="custom/pager" class="table table-striped">
			<tbody>
				<tr ng-repeat="i in $data">
					<td data-title="'Deltagande'" sortable="participationType">{{i.participationType}}</td>
					<td data-title="'Turnering'" sortable="tournament">{{i.tournament}}</td>
                    <td data-title="'Säsong'" sortable="season">{{i.season}}</td>
					<td data-title="'Matcher'" sortable="games">{{i.games}}</td>
					<td data-title="'Vinster'" sortable="wins">{{i.wins}}</td>
					<td data-title="'Oavgjorda'" sortable="draws">{{i.draws}}</td>
					<td data-title="'Förluster'" sortable="losses">{{i.losses}}</td>
					<td data-title="'Snittpoäng'" sortable="averagePoints">{{i.averagePoints}}</td>
				</tr>
			</tbody>
		</table>
	</tab>

	<tab heading="Säsonger">
		<table ng-table="seasonsParams" template-pagination="custom/pager" class="table table-striped">
			<tbody>
				<tr ng-repeat="i in $data">
					<td data-title="'Turnering'" sortable="tournamentName">{{i.tournamentName}}</td>
					<td data-title="'Säsong'" sortable="seasonName">{{i.seasonName}}</td>
					<td data-title="'Spelade matcher'" sortable="gamesPlayed">{{i.gamesPlayed}}</td>
					<td data-title="'Totalt antal matcher'" sortable="totalGames">{{i.totalGames}}</td>
				</tr>
			</tbody>
		</table>
	</tab>    
</tabset>


