<!DOCTYPE html>
<html ng-app="ifkstatApp">

<head>
    <meta charset="UTF-8">
    <!--
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap.no-icons.min.css"/>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/2.0/css/font-awesome.css"/>
    -->

    <script src="js/lib/jquery-1.11.0.min.js"></script>
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.11.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/bootstrap-theme.min.css" />

    <link rel="stylesheet" href="css/ng-table.css"/>


    <script data-require="ng-table@*" data-semver="0.5.5" src="js/lib/ng-table.min.js"></script>
    <link data-require="ng-table@*" data-semver="0.5.5" rel="stylesheet" href="css/ng-table.min.css" />
    <link rel="stylesheet" href="css/style.css"/>


</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div ng-controller="navigation" class="navbar-header">
        <ul id="nav-ul" class="nav navbar-nav">
            <li><img src="images/ifk-logo.png" height="50"></li>
            <li id="nav-players" onclick="updateNavBar(this);"><a class="navbar-brand active" href="/#/players">Spelare</a></li>
            <li id="nav-games" onclick="updateNavBar(this);"> <a class="navbar-brand" href="/#/games">Matcher</a></li>
            <li id="nav-clubs" onclick="updateNavBar(this);">  <a class="navbar-brand" href="/#/clubs/stats">Klubbar</a></li>
            <li id="nav-tournaments" onclick="updateNavBar(this);">  <a class="navbar-brand" href="/#/tournaments">Turneringar</a></li>
            <li ng-show="authenticated"><a class="navbar-brand" href="/#/admin">Admin</a></li>
            <li ng-show="!authenticated"><a href="#/login">Logga in</a></li>
            <li class="pull-right" ng-show="authenticated"><a class="pull-right" href="" ng-click="logout()">Logga ut</a></li>
        </ul>
    </div>
</nav>
    <div class="container-fluid" ng-view></div>
</body>

</html>

<script src="js/app.js"></script>
<script src="js/lineup.js"></script>
<script src="js/controllers.js"></script>

<script type="text/ng-template" id="custom/pager">
    <ul class="pager ng-cloak">
        <li ng-repeat="page in pages"
            ng-class="{'disabled': !page.active, 'previous': page.type == 'prev', 'next': page.type == 'next'}"
            ng-show="page.type == 'prev' || page.type == 'next'" ng-switch="page.type">
            <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">&laquo; Föregående</a>
            <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Nästa &raquo;</a>
        </li>
        <li>
            <div class="btn-group">
                <button type="button" ng-class="{'active':params.count() == 10}" ng-click="params.count(10)" class="btn btn-default">10</button>
                <button type="button" ng-class="{'active':params.count() == 25}" ng-click="params.count(25)" class="btn btn-default">25</button>
                <button type="button" ng-class="{'active':params.count() == 50}" ng-click="params.count(50)" class="btn btn-default">50</button>
                <button type="button" ng-class="{'active':params.count() == 100}" ng-click="params.count(100)" class="btn btn-default">100</button>
            </div>
        </li>
    </ul>
</script>

<script>


    var updateNavBar = function(elem) {
        $('#nav-ul li').removeClass('active');
        $(elem).addClass('active');
    }
    var updateNavBarByElementId = function(elemId) {
        $('#nav-ul li').removeClass('active');
        $('#'+elemId).addClass('active');
    }
</script>